<header class="page-header">
    <h1>Store Info</h1>
  </header>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @category_count %></span>
    <strong>Total product categories</strong> 
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @product_count %></span>
    <strong>Total products </strong>
  </li>
</ul>
<a href="/admin/products" class="btn btn-primary btn active" role="button">Your products</a>